.b-gallery{
    display: flex;
    flex-wrap: wrap;

}

.b-gallery__item{
    width: 25%;
    box-sizing: border-box;
    padding: 16px;

}

.b-gallery__title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img{
    max-width: 100%;
}